
<div class="loader">
    <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</div>
<script>
    setTimeout(function() {
        alert('Hola {{name}}')
    }, 2000)
</script>